<button class="w-full p-4 shadow border border-base-content/20 rounded hover:border-primary focus:border-primary text-start">
 <p class="font-medium mb-1 text-lg" (click)="titleClick.emit()">{{no()}}. {{patent().ipc}} <span class="ms-1 me-3 text-primary">{{ patent().patentName }}</span></p>
    
 <div class="flex items-center w-fit gap-2 mb-1 -ms-px text-sm">
    <span class="px-3 py-1 rounded-box bg-success/20"><span class="font-medium">Appl.No:</span> {{patent().applicantNo}}</span>
    <span class="px-3 py-1 rounded-box bg-info/20 "><span class="font-medium">Inventor:</span> {{patent().inventorName}}</span>
 </div>

 <p class="mt-1">
    {{ patent().summary }}
 </p>

 <p class="text-base-content/60 font-medium text-sm mt-4"> {{ patent().publicationDate }}</p>
</button>